# Write a program to print"Hello Python" ten times.

In [1]:
i=1
while i<=10:
    print("Hello Python")
    i=i+1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

# Write a program to print number from 1 to 10.

In [4]:
i=1
n=int(input("enter the number"))
while i<=n:
    print(i)
    i=i+1

enter the number10
1
2
3
4
5
6
7
8
9
10

# write a program to print sum of first ten numbers.

In [6]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print(sum)

55

In [7]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
    print(sum)

1
3
6
10
15
21
28
36
45
55

# Table of a number

In [8]:
num=int(input("enter the number"))
for i in range(1,11):
    print(num*i)

enter the number19
19
38
57
76
95
114
133
152
171
190

# Factorial of a number.

In [11]:
n=int(input("enter the number :"))
factorial=1
for i in range(1,n+1):
     factorial=factorial*i
print(factorial)

enter the number :5
120

# Print even number between 1 to 100.

In [1]:
i=2
while i<=100:
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# Print odd number between 1 to 100.

In [13]:

i=1
while i<=100:
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Number is palindrome or not.

In [14]:
n=int(input("enter the number :"))
temp=n
rev=0
while(n>0):
    dig=n%10 #digit
    rev=(rev*10)+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome.")
else:
    print("The number is nor palindrome.")

enter the number :1221
The number is a palindrome.

# Find factors of a number.

In [15]:
n=int(input("enter the number"))
for x in range (1,n+1):
    if n%x==0:
        print(x)

enter the number55
1
5
11
55

# print the reverse of a number.

In [16]:
n=int(input("enter the number"))
rev=0
while n>0:
    rev=rev*10+n%10
    n=n//10
    print(rev)

enter the number123
3
32
321

# To check whether a number is prime or not.

In [7]:
n=int(input("enter the number"))
if n==1:
    print("is not prime number")
if n>1:
    for n in range (2,n):
        if n%2==0:
            print(n,"is not prime number")
        break 
else:
            print(n,"is prime number")

enter the number67
2 is not prime number

# print the number pattern using a loop.

In [1]:
for i in range (1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [3]:
for i in range (1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [5]:

for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end="")
    print()

12345
1234
123
12
1

In [6]:
for i in range(6,1,-1):
    for j in range(5,6-i,-1):
        print(j,end="")
    print()

54321
5432
543
54
5

In [2]:
for i in range(6,1,1):
    for j in range(5,6-i,-1):
        print(j,end="")
    print()

In [4]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [5]:
for i in range(5): # 0,1,2,3,4,5
    for j in range(i+1): # 1,2,3,4,5,6
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE

In [3]:
for i in range(5,-1):
    for j in range(1,i):
        print(chr(65+j),end="")
    print()

In [4]:
for i in range(6): #outer loop 0,1,2,3,4
    for j in range(i+1): # inner loop 1,2,3,4,5
        print("*",end="")
    print()

*
**
***
****
*****
******

In [5]:
for i in range(6):
    for j in range(6):
        print("*",end="")
    print()

******
******
******
******
******
******

In [6]:
n=1
for i in range(n,7):
    for j in range(i,7):
        print("*",end="")
    print()

******
*****
****
***
**
*